html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  font-size: 28px;
}
h2 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
h3,
.question-title {
  font-size: 18px;
}
.questions-table td,
.questions-table td.cell-label input {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.questions-table tbody td.cell-radio {
  position: relative;
}
.questions-table td.cell-radio input:hover,
.questions-table td.cell-radio label:hover {
  cursor:pointer;
}
.questions-table td.cell-label input {
  border: 0;
  font-style: italic;
}
.questions-table td.cell-label input:focus {
  outline: none;
}
.questions-table td.cell-new-btn button,
.questions-table td.cell-remove-btn button,
.questions-table td.cell-image label {
  width: 40px;
  height: 40px;
  padding: 6px 12px;
  line-height: 28px;
  border: 0;
  border-radius: 0;
}
.questions-table td.cell-image label {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #909090;
}
.questions-table td.cell-image label input {
  display:none;
}
.questions-table td.cell-image label:not(.image-uploaded) {
  background-color: #e6e6e6;
}
.questions-table td.cell-image label:not(.image-uploaded):hover {
  background-color: #dedede;
}
.questions-table td.cell-image label.image-uploaded i {
  display: none;
}
.questions-table td.cell-image label.image-uploaded:hover i {
  display: initial;
}
.questions-table td.cell-new-btn button {
  color: #FF0000;
}
.questions-table td.cell-radio label {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.question-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  width: 100%;
  border: 0;
}
.question-title:focus {
  outline: none;
}
.col-split {
  position: absolute;
  height: 100%;
  min-height: 300px;
  width: 1px;
  background-color: #000;
  top: 48px;
  left: 0;
}
.view-summary {
  text-align: left;
  margin-top: 22px;
  margin-left: 20px;
}
.view-summary .summary-lines {
  margin-left: 15px;
}
